@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto+Mono&display=swap");

@font-face {
  font-family: "Samarkan";
  src: url(../fonts/SamarkanNormal-Gg5D.ttf);
}

.logo-text {
  font-family: "Samarkan";
}

.font-moon-dance {
  font-family: "Moon Dance", cursive !important;
}
